.container {

    display: grid;
    grid-template-columns: repeat(5, 70px);
    gap: 5px;
    grid-template-rows: repeat(5, 70px);

}

.item1 {
    grid-column: 1;
    grid-row: 1;
    border: solid 2px black;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    border: solid 2px black;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
    border: solid 2px black;
}

.item4 {
    grid-column: 4;
    grid-row: 1;
    border: solid 2px black;
}

.item5 {
    grid-column: 5;
    grid-row: 1;
    border: solid 2px black;
}